.playlist {
  .song {
    display: grid;
    grid-template-columns: 40px 1fr 40px;

    background-color: purple;

    padding: 1.2rem 0;

    .order {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 40px;

      color: #fff;
      opacity: 0.85;

      font-weight: 300;
      font-size: 1.1rem;
    }

    .info {
      h5 {
        margin-bottom: 2px;

        font-size: 1.6rem;
        font-weight: 300;

        color: #fff;
        opacity: 0.85;
      }

      span {
        font-size: 1.2rem;

        color: #fff;
        opacity: 0.85;
      }
    }

    .menu {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 40px;

      color: #fff;
      opacity: 0.85;

      font-weight: 300;
      font-size: 1rem;

      button {
        display: flex;

        color: rgba(255, 255, 255, 0.233);
      }
    }

    &.active .order,
    &.active .info h5,
    &.active .info span {
      font-weight: 500;

      opacity: 1;
    }
  }
}
