@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #222222;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

:root {
  --primary: #590040;
  --primary-light: rgba(89, 0, 64, 0.7);
  --primary-dark: #431c2f;
  --primary-rgba: 89, 0, 64;
  --secondary: #a45992;
  --white: #ffffff;
  --transition2s: all 0.2s ease-in-out;
}

.app {
  width: 100%;
  max-width: 37.5rem;
  height: 100%;
  max-height: 81.2rem;
  position: relative;
  overflow: hidden;
  background-color: var(--white);
}

.app .album_cover {
  height: 41rem;
  width: 100%;
  background-color: #fb5;
  background-image: url("../../files/cover-album.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app .album_cover .overlay {
  display: block;
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(var(--primary-rgba), 1) 98%);
}

.app .content {
  height: 100%;
  overflow-y: scroll;
}

.app .content::-webkit-scrollbar {
  width: 0.3rem;
}

.app .content::-webkit-scrollbar-track {
  background-color: var(--primary);
}

.app .content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}

.app .content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.app .content .album_cover {
  position: absolute;
  left: 0;
  top: 0;
}

.app .content header {
  position: relative;
  z-index: 500;
  margin-top: 41rem;
  padding: 0.8rem 0;
  text-align: center;
  box-shadow: 0 -16px 22px 1px #590040;
  color: var(--white);
  background-color: var(--primary);
}

.app .content header #shuffle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-top: -3.2rem;
  margin-left: auto;
  margin-right: 10%;
  position: relative;
  z-index: 400;
  transition: var(--transition2s);
  box-shadow: 0 4px 7px 1px rgba(1, 1, 1, 0.22), 0 -2px 5px 1px rgba(255, 255, 255, 0.1);
  color: var(--white);
  background-color: var(--primary-dark);
}

.app .content header #shuffle:active {
  background-color: var(--secondary);
}

.app .content header h1 {
  font-size: 2.3rem;
  font-weight: 700;
  margin: 0.4rem 0;
}

.app .content header p {
  font-size: 1.2rem;
  color: var(--secondary);
}

.playlist {
  position: relative;
  z-index: 500;
  background-color: var(--white);
}

.playlist .song {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  padding: 1.2rem 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background-color: var(--primary);
}

.playlist .song .order {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary);
  font-weight: 300;
  font-size: 1.2rem;
}

.playlist .song .info {
  opacity: 0.9;
}

.playlist .song .info h5 {
  margin-bottom: 2px;
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--white);
}

.playlist .song .info span {
  font-size: 1.3rem;
  color: var(--secondary);
}

.playlist .song .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 1rem;
}

.playlist .song .menu button {
  display: flex;
  color: var(--secondary);
}

.playlist .song.active, .playlist .song:active {
  color: var(--white);
  background-color: var(--primary-light);
}

.playlist .song.active .info, .playlist .song:active .info {
  opacity: 1;
}

.playlist .song.active .order,
.playlist .song.active .info h5,
.playlist .song.active .info span,
.playlist .song.active .menu button, .playlist .song:active .order,
.playlist .song:active .info h5,
.playlist .song:active .info span,
.playlist .song:active .menu button {
  font-weight: 500;
  color: var(--white);
}

.playlist li:last-child {
  padding-bottom: 8.5rem;
}

.wrapper_player {
  position: sticky;
  bottom: 0;
  left: 0;
  padding-top: 1px;
  z-index: 500;
  background: linear-gradient(90deg, #55003f 2%, #ffffff4b 14%, #ffffff4b 86%, #55003f 98%);
}

.player_bottom {
  display: grid;
  grid-template-columns: 55px 1fr 55px;
  width: 100%;
  padding: 0.8rem;
  z-index: 500;
  color: var(--white);
  background-color: var(--primary);
}

.player_bottom .cover_miniature {
  display: block;
  width: 55px;
  height: 55px;
  background-color: var(--secondary);
  background-image: url("../../files/cover-album.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.player_bottom .current_song {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player_bottom .current_song h2 {
  font-weight: 700;
}

.player_bottom .current_song span {
  font-size: 1.4rem;
  color: var(--secondary);
}

.player_bottom .togglePlay {
  transition: var(--transition2s);
  color: var(--white);
}

.player_bottom .togglePlay:active {
  background-color: var(--secondary);
}
